@page "/OrderInfo"
@using UberT1Costumer.Data
@using UberT1Costumer.Models
@using UberT1Costumer.Authentication

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IOrderingService OrderingService

<h3>OrderInfo</h3>
<AuthorizeView>
    <NotAuthorized>
        <h3>You need to login before access!</h3>
    </NotAuthorized>
    <Authorized Context="menu">
        @if (showMenu)
        {
            <EditForm model="destination" OnValidSubmit="RequestVehicle">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div>
                    Destination:<br/>
                    <InputTextArea @bind-Value="destination.streetname"/>
                </div>
            </EditForm>
            <button type="submit">Request vehicle</button>
            <button @onclick="@ShowOrder">Show order</button>
        }
        
        @if (showCheck)
        {
            <div class="form-group">
                <label>@message</label>
            </div>
            <button @onclick="@CheckAccept">Check</button>
            <button @onclick="@CancelRequest">Cancel</button>
        }
        
        @if (showOrder)
        {
            @if (order == null)
            {
                <p><em>No requests exist now</em></p>
            }
            else if (order != null)
            {
                <div class="form-group">
                    Status:<br/>
                    <label>@status</label>
                </div>
                <div class="form-group">
                    Driver first name:<br/>
                    <label>@driverfirstname</label>
                </div>
                <div class="form-group">
                    Driver last name:<br/>
                    <label>@driversecondname</label>
                </div>
                <div class="form-group">
                    Your Location:<br/>
                    <label>@customerstreetname</label>
                </div>
                <div class="form-group">
                    Destination:<br/>
                    <label>@destinationstreetname</label>
                </div>
                <div class="form-group">
                    Estimate time:<br/>
                    <label>@estimatetime</label>
                </div>
                <div class="form-group">
                    Price:<br/>
                    <label>@price</label>
                </div>
                <div class="form-group">
                    <label>@message</label>
                </div>
                <button @onclick="@CheckFinished">Check</button>
            }
        }
        @if (showFinished)
        {
            <div class="form-group">
                <label>Hope you have enjoyed your trip!</label>
            </div>
            <button @onclick="@Back">Back to menu</button>
        }
    </Authorized>
</AuthorizeView>
@code {
    private string destinationstreetname;
    private string status;
    private string driverfirstname;
    private string driversecondname;
    private string customerstreetname;
    private string estimatetime;
    private double price;
    private Location destination = new Location();
    private Order order;
    private bool showMenu = true;
    private bool showCheck;
    private bool showOrder;
    private bool showFinished;
    private string message = "";

    public async Task RequestVehicle()
    {
        destination.streetname = destinationstreetname;
        order.destination = destination;
        order = OrderingService.RequestVehicle(order);
        showMenu = false;
        showCheck = true;
    }

    public async Task CancelRequest()
    {
        message = OrderingService.CancelRequest(order);
        if (message == "Cancelled")
        {
            order = new Order();
            showCheck = false;
            showMenu = true;
        }
    }

    public async Task CheckAccept()
    {
        message = OrderingService.CheckProcess(order);
        if (message == "Accept!")
        {
            order = ((UserAuthenticationStateProvider) AuthenticationStateProvider).GetOrder();
            status = order.status;
            driverfirstname = order.driver.firstname;
            driversecondname = order.driver.lastname;
            customerstreetname = order.customerlocation.streetname;
            estimatetime = order.estimatetime;
            price = order.price;
            destinationstreetname = order.destination.streetname;
            showCheck = false;
            showOrder = true;
        }
    }

    public async Task CheckFinished()
    {
        message = OrderingService.CheckProcess(order);
        if (message == "Accept!")
        {
            showOrder = false;
        }
    }

    public async Task ShowOrder()
    {
        order = ((UserAuthenticationStateProvider) AuthenticationStateProvider).GetOrder();
        status = order.status;
        driverfirstname = order.driver.firstname;
        driversecondname = order.driver.lastname;
        customerstreetname = order.customerlocation.streetname;
        estimatetime = order.estimatetime;
        price = order.price;
        destinationstreetname = order.destination.streetname;
        showMenu = false;
        showOrder = true;
    }

    public async Task Back()
    {
        showOrder = false;
        showMenu = true;
    }
    
}